#navbar{
    background-color: red;
    display: flex;
    margin: 10px;
    }
    #options{
        display: flex;
        margin: 10px;
    }
    #options h3{
        display: flex;
        margin: 10px;
    }
    #serc{
    width: 400px;
    height: 40px;
    }
    #food{
        width: 300px;
        height: 150px;
    
    }
    #food img{
        width: 200px;
        height: 100px;
    
    }