<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        nav{
            border: 1px solid black;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: center;
            width: 80%;
            margin: auto;
            font-size: 190%;
        }
    </style>

</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="letest.html">Letest</a>
        <a href="#">About</a>
        <a href="#">Location</a>
    </nav>
</body>
</html>